<section>
  <form fxLayout="column" fxLayoutAlign ="center center" fxLayoutGap = "10px" [formGroup] = "myGroup" (ngSubmit)="onSubmit()" >
    <mat-form-field>
      <input matInput type="email" id="email" placeholder="Email" formControlName="email">
      <mat-hint>Please Enter a Valid Email</mat-hint>
      <mat-error>Email Is Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" id="password"placeholder="Password" formControlName="password">
      <mat-hint>Please Enter Password</mat-hint>
      <mat-error>Password Is Required</mat-error>
    </mat-form-field>
    <button type = "submit" mat-raised-button color="primary" [disabled]="myGroup.invalid" *ngIf="(IsLoading$ | async) === false">Submit</button>
    <mat-spinner *ngIf="IsLoading$ | async"></mat-spinner>
  </form>
</section>
