<section class="new_training" fxLayout fxLayoutAlign="center">
<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
  <mat-card fxFlex.xs = "100%" fxFlex="400px" >
    <mat-card-title fxLayoutAlign="center" *ngIf="!IsLoading">Select New Training</mat-card-title>
    <mat-card-content fxLayoutAlign="center" >
        <mat-form-field *ngIf="!(IsLoading$ | async) && exercises$ | async" >
            <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
              <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-content>
    <mat-spinner fxLayoutAlign="center " *ngIf="IsLoading$ | async"></mat-spinner>
    <mat-card-actions *ngIf="!(IsLoading$ | async)" fxLayoutAlign="center">
      <button *ngIf="exercises$ | async" mat-button type="submit" [disabled]="f.invalid">Start</button>
      <button *ngIf="!(exercises$ | async)" mat-button type="button" (click)="fethExercises()">Fetch Again</button>
    </mat-card-actions>
  </mat-card>
</form>
</section>
