<mat-nav-list *ngIf="!(isAuth$ | async)">
  <a mat-list-item [routerLink]="['/signup']" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">SignUp</span>
  </a>
</mat-nav-list>
<mat-nav-list *ngIf="!(isAuth$ | async)">
  <a mat-list-item [routerLink]="['/login']" (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
</mat-nav-list>
<mat-nav-list *ngIf="isAuth$ | async">
  <a mat-list-item [routerLink]="['/training']" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
</mat-nav-list>
<mat-nav-list *ngIf="isAuth$ | async">
  <mat-list-item (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
