<section  class="current_training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
  <h1>{{progress}}</h1>
  <p>Keep Going Comon</p>
  <button mat-raised-button color="ascent" (click)="onStop()">Stop</button>
</section>
