a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-item {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
