<section class="signupform">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"#f="ngForm" (ngSubmit)="onSubmit(f)" >
    <mat-form-field>
      <input matInput placeholder="YourEmail" type="email" ngModel name="email" email required #emailInput = "ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email Is Invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field Must Not Be Empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="YourPaasowrd" type="password" ngModel name="password" required minlength="6" #pwInput = "ngModel">
      <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
      <mat-hint align="start">Atleast six charecters</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]='picker' placeholder="Your Birthday" [max]="maxDate" [min]="minDate" ngModel name="Birthday" required>
      <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required>Agree Terms And Conditions</mat-checkbox>
    <button *ngIf="!(IsLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="IsLoading$ | async"></mat-spinner>
  </form>
</section>
