<mat-tab-group *ngIf="!(newTraning$ | async)">
  <mat-tab label="New Exrcise"> <app-new-training></app-new-training> </mat-tab>
  <mat-tab label="Past Exercise"> <app-past-training></app-past-training>  </mat-tab>
</mat-tab-group>
<app-current-training *ngIf="newTraning$ | async"></app-current-training>
